@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle at 19% 90%,
    rgba(190, 190, 190, 0.04) 0%,
    rgba(190, 190, 190, 0.04) 17%,
    transparent 17%,
    transparent 100%
  ),
  radial-gradient(
    circle at 73% 2%,
    rgba(78, 78, 78, 0.04) 0%,
    rgba(78, 78, 78, 0.04) 94%,
    transparent 94%,
    transparent 100%
  ),
  radial-gradient(
    circle at 45% 2%,
    rgba(18, 18, 18, 0.04) 0%,
    rgba(18, 18, 18, 0.04) 55%,
    transparent 55%,
    transparent 100%
  ),
  radial-gradient(
    circle at 76% 60%,
    rgba(110, 110, 110, 0.04) 0%,
    rgba(110, 110, 110, 0.04) 34%,
    transparent 34%,
    transparent 100%
  ),
  radial-gradient(
    circle at 68% 56%,
    rgba(246, 246, 246, 0.04) 0%,
    rgba(246, 246, 246, 0.04) 16%,
    transparent 16%,
    transparent 100%
  ),
  radial-gradient(
    circle at 71% 42%,
    rgba(156, 156, 156, 0.04) 0%,
    rgba(156, 156, 156, 0.04) 47%,
    transparent 47%,
    transparent 100%
  ),
  radial-gradient(
    circle at 46% 82%,
    rgba(247, 247, 247, 0.04) 0%,
    rgba(247, 247, 247, 0.04) 39%,
    transparent 39%,
    transparent 100%
  ),
  radial-gradient(
    circle at 50% 47%,
    rgba(209, 209, 209, 0.04) 0%,
    rgba(209, 209, 209, 0.04) 45%,
    transparent 45%,
    transparent 100%
  ),
  linear-gradient(360deg, rgb(27, 33, 65), rgb(5, 14, 45));
}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  position: fixed;
  transition: 0.5s;
  padding: 7px 100px;
  background: #1b2141;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 65vmin;
  height: 70vmin;
  overflow: hidden;
  border-radius: 10px;
  background: #293447;
  flex-direction: column;
}

.game-details {
  display: flex;
  color: #b8c6dc;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  justify-content: space-between;
}

.play-board {
  width: 100%;
  height: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  border-radius: 10px;
  background: #ff003d;
}

.play-board .head {
  background: #60cbff;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  cursor: pointer;
  color: #b8c6dc;
  font-size: 1.3rem;
  text-align: center;
  width: calc(100% / 4);
  border-right: 1px solid #171b26;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
